repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [fastapi_rbac, tests, --fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -lc 'poetry run mypy fastapi_rbac tests'
        language: system
        types: [python]
        pass_filenames: false

